.App {
  text-align: center;
}


button {
	margin:20px;
}

input, textarea {
	max-width: 800px;
	min-height: 50px;
	display: inline !important;
	margin: 20px 0px;
}

#input_result {
	min-height: 120px;
}

.typography-line{
	padding-left: 0 !important;
}

.row {
	margin-top: 10px;
}